* {
    margin: 0;
    padding: 0;
}


.restikas {
    justify-content: center;
    text-align: center;
}

.card {
    box-shadow: 10px 10px 5px gray;
}


.carousel-inner {
    text-align:center;

}

.tekstas {
    margin-top: 50px;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  .featurette-divider {
    margin: 5rem 0; 
  }


footer {
    background-color: #F8F9FA;
    height: 2rem ;
    width: 100%;
}




 



@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.featurette-heading {
    font-size: 50px;
  }








